@media (max-width:991px) {
    header {
        position: static;
    }
    #mobile-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #mobile-menu i {
        font-size: 18px;
    }
    #header-menu {
        padding: .8rem .6rem;
    }
    #header-menu-side,
    #header-icon-side {
        display: none;
    }
    nav {
        display: none;
    }
    #banner-samsung {
        width: 738px;
    }
    #main-first-banner {
        height: 350px;
    }
    #container-left {
        display: none;
    }
    #container-center {
        width: 75%;
    }
    #container-right {
        width: 25%;
    }
    #container-right section:first-child {
        display: none;
    }
    .content-box div p {
        display: none;
    }
    .content-box-wide div p {
        display: none;
    }
}